#house {
  margin-top: 100px;
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #aaaaaa;
  border: 2px solid black;
}

#house > div {
  position: absolute;
}

#roof {
  top:0;
  width: 500px;
  height: 100px;
  background-color: #aa0110;
  border: 1px solid black;
}

#chimney {
  z-index: -1;
  top:-50px;
  width: 30px;
  height: 50px;
  background-color: blue;
  border: 1px solid black;
}
#window-1 {
  bottom: 100px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
}

#window-2 {
  bottom: 100px;
  right: 50px;
  width: 100px;
  height: 100px;
  background-color: rgb(138, 177, 190);
  border: 1px solid black;
}

#door {
  bottom:0;
  left: 200px;
  width: 100px;
  height: 200px;
  background-color: rgb(232, 57, 57);
  border: 1px solid black;
}

